@CHARSET "UTF-8";

.welcome-panel {
	padding: 0px 10px 0;
}

form#postman_wizard legend, form#postman_test_email_wizard legend {
	font-weight: bold;
}

form label {
	font-weight: bold;
	margin-right: 10px;
}

table#testing_table {
	width: 100%;
	display: none;
	border: solid 1px #ddd;
}

table#testing_table tr {
	background-color: #fff;
}

table#testing_table tr td {
	padding: 5px;
	margin: 0;
}

table#testing_table td.port {
	width: 100px;
}

p#wizard_oauth2_help span.error {
	color: red;
}

fine_print {
	font-size: 0.9em;
}

input.input_plugin_radio {
	margin-left: 20px;
}

.wizard>.content {
	min-height: 32em;
}

dt {
	font-style: italic;
}

dt em {
	font-style: normal;
}